{# templates/frontoffice/circuitslist.html.twig #}

{% extends "frontoffice/userlayout.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block main %}
    <h1>Liste de circuits</h1>

      
    {% if circuitslist is not empty %}
    
    <div class="row">
	{# Loop through list and creeate the list of circuit items. #}
	{% for circuit in circuitslist %}
	<div class="col-sm-4">
			<a href="{{ path('circuitshow', { 'id' : circuit.id }) }}">
			<p class="lists">
				<img src="/images/flags/{{ circuit.paysDepart | lower }}.png"
				width=200px/>
			</br>
			{{ circuit.description }}
		</p>
		</a>
	</div>
	{% endfor %}
</div>{% else %}
        <p>Sorry, you don't have any circuits yet!</p>
    {% endif %}
    

   
{% endblock %} {# main #}
