{# templates/circuitslist.html.twig #}

{% extends "baselayout.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <h1>Liste de circuits</h1>
    {% if circuitslist is not empty %}
        <ul>
        {# Loop through list and creeate the list of circuit items. #}
        {% for circuit in circuitslist %}
        {% set available = 0 %}
		{% for prog in circuit.programmations %}
        {% if date(prog.dateDepart) > date() %}
        {% set available = 1 %}
        {% endif %}
        {% endfor %}
        {% if available %}
            <li>
          		<a href="{{ path('circuitshow', { 'id' : circuit.id }) }}">{{ circuit.description }}</a>
            </li>
        {% endif %}
        {% endfor %}
        </ul>
    {% else %}
        <p>Sorry, you don't have any circuits yet!</p>
    {% endif %}

{% endblock %} {# body #}