{# templates/circuitslist.html.twig #}

{% extends "baselayout.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
<h1>Contact</h1>
<p>Pour plus d'informations, veuillez nous contacter directement sur le numéro suivant +33 (0)6 26 43 11 70 ou rendez vous à notre agence à l'adresse suivante: 14, rue Chrales Fourier, 91000 EVRY CEDEX</p>
{% endblock %}