{# templates/circuitslist.html.twig #}

{% extends "baselayout.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
<h1>Directeurs</h1>
<div class="row">
<div class="col-sm-6">
<p class="lists"><img src="/images/davide.jpg" height="250" width="200"/></br>ZHU Davide</p>
</div>
<div class="col-sm-6">
<p class="lists"><img src="/images/zahraman.jpg" height="250" width="200"/></br>ZAHRAMAN Arwa</p>
</div>
</div>

{% endblock %}