{# templates/circuitslist.html.twig #}

{% extends "baselayout.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
<h1>Directeurs</h1>
<p class="Davide"><img src="/images/davide.jpg" height="250" width="200"/>   ZHU Davide</p>
<p class="Arwa"><img src="/images/zahraman.jpg" height="250" width="200"/>   ZAHRAMAN Arwa</p>

{% endblock %}