{# templates/circuitslist.html.twig #}

{% extends "baselayout.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
<h1>Bienvenue à Heaven On Earth Agency</h1>
<p>"Parce qu'il n’est rien de plus beau que l’instant qui précède le voyage, l’instant où l’horizon de demain vient nous rendre visite et nous dire ses promesses" (Milan Kundera), HOEA cultive le sens de l’écoute et du conseil. Notre profonde connaissance des lieux et des endroits testés et retenus, vous permettra de mieux appréhender les régions dans lesquelles vous vous rendrez. </p>

{% endblock %}