{# templates/baselayout.html.twig #}
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/bootstrap-theme.min.css">
	<title>{% block headtitle %}Heaven On Earth Agency{% endblock %}</title>
</head>
<body>
{% block header %}
{#
<div class="row">
	<div class="col-md-12">
		<a href="{{  path('home') }}">Home</a>
	</div>
</div>
#}
<div class="row">
	<div class="col-md-12">
		<h1>{% block title %}Heaven On Earth Agency{% endblock %}</h1>
	</div>
</div>
{% endblock %} {# header #}
	{% block body %}
	{% endblock %}
	{# body #}
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
