{# templates/circuitslist.html.twig #}

{% extends "baselayout.html.twig" %}

{% block title %}{{ parent() }} <div class="back" >Back Office</div>{% endblock %}

{% block body %}
    <h1>Liste de circuits</h1>
    {% if circuitslist is not empty %}
        <ul>
        {# Loop through list and creeate the list of circuit items. #}
        {% for circuit in circuitslist %}
            <li>
          		<a href="{{ path('circuitshowadmin', { 'id' : circuit.id }) }}">{{ circuit.description }}</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Sorry, you don't have any circuits yet!</p>
    {% endif %}
{% endblock %} {# body #}

{% block menu %}
{% endblock %} {# menu#}


