<!DOCTYPE html>
<html>
<head>
  <title>Details for circuit {{ id }}</title>
</head>
<body>
  <h1>{{ circuit.description }}</h1>

	<h2>Détails</h2>

			<p>Description: {{ circuit.description }}</p>

</body>
</html>
