{# templates/circuitslist.html.twig #}

{% extends "baselayout-back-office.html.twig" %}



{% block body %}
    <h1>Les étapes du voyage {{ circuit.description }}</h1>
    {% if circuit.etapes is not empty %}
        <table>
     	 		<thead>
     					<tr>
     				    	<th>Ville</th>
     						  <th>Nombre de jours</th>
     					</tr>
     				</thead>
     		{%  for step in circuit.etapes %}
     			<tr>
     			   <td>{{ step.villeEtape }}</td>
     			   <td>{{ step.nombreJours }}</td>
     			</tr>
     		{% endfor %}
     		</table>
    {% else %}
                <p>Désolé, il n'y pas encore des étapes!</p>
    {% endif %}

{% endblock %} {# body #}
